@model SailorAPP.Areas.SCM.Model.CommonLandingGrid
            <div class="row">
                    <div class="col-md-12">

                        <h1 class="card-title">
                            @{
                                @Html.Raw(Model.PageHeader)
                            }
                        </h1>
        </br>
        </br>
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                @{
                                    int index = 0;
                                    foreach (var tabNames in Model.TabNamesWithColumnNames.Keys)
                                    {
                                        <button class="@GetClass(index)" id="@GetID( tabNames.ToString())" data-bs-toggle="tab" data-bs-target="#@GetTarget(tabNames.ToString())"
                                                type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                            @Html.Raw(tabNames.ToString())
                                        </button>

                                        index++;
                                    }
                                }
                            </div>
                        </nav>



                        <div class="tab-content pt-1" id="nav-tabContent">
                            @{
                                int count = 0;


                                foreach (var headerName in Model.TabNamesWithColumnNames)
                                {

                                    <div class="@GetClassforContent(count)" id="@GetTarget(headerName.Key.ToString().Replace(" ", "-"))"
                                         aria-labelledby="@GetID(headerName.Key.ToString().Replace(" ", ""))">



                                        <div class="box">
                                            <table id="dt@{
                                                            @Html.Raw(headerName.Key.ToString().Replace(" ", ""))
                                                    }" class="table table-striped table-bordered" cellspacing="0">
                                                <thead style="text-align:center">
                                                    <tr>
                                                        @{
                                                            foreach (var hName in headerName.Value)
                                                            {
                                                                <th>@Html.Raw(hName.ToString()) </th>
                                                            }
                                                        }
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>

                                    count++;

                                }
                            }

                        </div>

                    </div>





                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
   
        <!-- /.container-fluid -->

@functions {
    public string GetClass(int level)
    {
        return level == 0 ? "nav-link active" : "nav-link";
    }
    public string GetClassforContent(int level)
    {
        return level == 0 ? "tab-pane fade show active" : "tab-pane fade";
    }
    public string GetID(string name)
    {
        return "nav-" + name.ToLower().Replace(" ", "-") + "-tab";
    }

    public string GetTarget(string name)
    {
        return "nav-" + name.ToLower().Replace(" ", "-");
    }
    public string GetTab(int level)
    {
        return level.ToString();
    }
}


